@model Wrly.Models.CareerHistoryWizardViewModel
@{
    ViewBag.Title = "Add your work or education history | Sklative";
    Layout = "~/Views/Shared/_LayoutWizard.cshtml";
}
<div class="string join-container">
    <div class="string-wrapper">
        <div class="content-container">
            <div class="reg-content-wrapper">
                <div class="wizard-form-container form-container">
                    @Html.Partial("_WizardSetCareer", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterScripts{
    @Scripts.Render("~/cdn/_WizardAddCareerScripts");
}

