@{
    ViewBag.Title = "Email verified";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="string join-container">
    <div class="string-wrapper">
        <div class="content-container">
            <div class="reg-content-wrapper">
                <div class="wizard-form-container form-container">
                    <div class="wizard-form-wrapper">
                        <p><div class="alert alert-error">The link seems to be invalid, tempered or broken, we are not able to understand the requested page, please try with a fresh link or request or <a href="/interaction/feedback">report this error.</div></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section _HeadStyles{
    @Styles.Render("~/cdn/_AccountSharedStyles")
}