
<a class="social-share fb medium" title="share on facebook" href="https://www.facebook.com/sharer/sharer.php?u=@Url.Encode(ViewBag.Url)&title=@Url.Encode(ViewBag.Title)"
   target="_blank">
</a>
<a class="social-share ln medium" href="https://www.linkedin.com/cws/share?url=@Url.Encode(ViewBag.Url)&t=@Url.Encode(ViewBag.Title)" target="_blank" title="share on linkedin">
</a>
<a class="social-share tw medium" href="https://twitter.com/intent/tweet?url=@Url.Encode(ViewBag.Url)&text=@Url.Encode(ViewBag.Title)"
   target="_blank" title="share on twitter">
</a>
<a class="social-share gp medium" title="share on google+" href="https://plus.google.com/share?url=@Url.Encode(ViewBag.Url)"
   target="_blank">
</a>