@{
    ViewBag.Title = "Sklative: Cookie policy";
    ViewBag.Description = "sklative cookie policy for storing information in cookies.";
    ViewBag.AddHomeLink = true;
    Layout = "~/Views/Shared/_LayoutWizard.cshtml";
}

<style>
    .text-page-content {
        margin-left: 20px;
        color: #333;
        font-size: 120%;
        line-height: 24px;
    }

        .text-page-content h3 {
            color: #1e68b9;
            font-size: 16px;
            border-bottom: 2px solid #1e68b9;
            display: inline-block;
        }

        .text-page-content h4 {
            color: #1e68b9;
            font-size: 14px;
        }

        .text-page-content ul {
            list-style: disc;
            margin-left: 10px;
        }

            .text-page-content ul li {
                line-height: 25px;
            }
</style>
<div class="container">
    <div class="page-container">
        <div class="page-container-wrapper">
            <h1>Cookie policy</h1>
            <section class="text-page-content">
                <h3>What are cookies?</h3>
                <p>
                    Cookies are small files which are stored on your computer. They are designed to hold a modest amount of data specific to a particular client and website and can be accessed either by the web server or the client computer. This allows us to deliver a page tailored to a particular user, or the page itself can contain some script which is aware of the data in the cookie and so is able to carry information from one visit to the website (or related site) to the next.
                </p>
                <h3>When we place cookies on your machine?</h3>
                <p>
                    Placing cookies are depends on your page visits on sklative.com like we place some cookies when you initially come to our website using a browser, and authentication cookies are placed when you enter your username and password and your identity matches with your pre-defined secure and private information like username and password.
                </p>
                <h3>
                    How to we use cookies?
                </h3>
                <p>
                    As mentioned cookies are stored on your machine only and are designed to personalize your experience, to remember your identity or interest. Some cookies are stored to remember your authentication or identity which cannot be opted out.
                </p>
                <h3>
                    Can you opt-out from using cookie?
                </h3>
                <p>
                    As of now, we are using cookies which are essentially required to use the website and we are not using any cookie which is optional, as a choice you can opt to not to use our website if concerned with cookies.
                </p>
            </section>
        </div>
    </div>
</div>
