@{
    ViewBag.Title = "Sklative: Privacy policy";
    ViewBag.Description = "sklative privacy policy for your account and Information you shared.";
    ViewBag.AddHomeLink = true;
    Layout = "~/Views/Shared/_LayoutWizard.cshtml";
}
<style>
    .text-page-content {
        margin-left: 20px;
        color: #333;
        font-size: 120%;
        line-height: 24px;
    }

        .text-page-content h3 {
            color: #1e68b9;
            font-size: 16px;
            border-bottom: 2px solid #1e68b9;
            display: inline-block;
        }

        .text-page-content h4 {
            color: #1e68b9;
            font-size: 14px;
        }

        .text-page-content ul {
            list-style:disc;
            margin-left:10px;
            
        }
            .text-page-content ul li {
                line-height: 25px;
            }
</style>
<div class="container">
    <div class="page-container">
        <div class="page-container-wrapper">
            <h1>Privacy policy</h1>
            <section class="text-page-content">
                <h3>
                    Introduction
                </h3>
                <p>
                    Sklative is a social network connects professionals having similar skills, having similar profession or industry or from a completely different professional background. As every registered user("Member" or the once who at least shared basic information like name and email) shares their professional information, connects with their network, exchanges knowledge, engages in content(posts, profiles, jobs etc.), and finds business and career opportunities, and also some user referred as "Visitors" or "Unregistered users" or "Non-Logged in users" are allowed to view some basic information of any individual.
                </p>

                <h3>What information do we collect?</h3>
                <p>
                    Our data collection only takes place when a user is registered with us or engages with us using their queries, concerns or through feedback(and this is completely upto entity willing to get in touch), which takes place in different instances:
                </p>
                <h4>Basic information</h4>
                <p>
                    We collect information like email address, name, and some professional information or educational information from you when you register on our site or fill out a form or join a discussion or post a question/review or post an answer.
                </p>
                <h4>Profile information</h4>
                <p>
                    Profile information includes Professional history, skills, accomplishments, awards, and honors, education and/or business association information, however, each part of this information is optional and you are not bound to enter any "Profile information".
                </p>
                <p>
                    You may, however, visit our site anonymously although not all functionality is available to anonymous users due to the fundamental nature of our service and terms. Accessing public content does not require asking for any information about visiting a profile(However it depends on "User" preference) or pages or public articles.
                </p>
                <h3>
                    What do we use your information for?
                </h3>
                <p>
                    Any of the information we collect from you may be used in one of the following ways:
                    <ul>
                        <li>
                            To allow you to access content under authentication (you can access more contents as we do have complete network and contents which cannot be accessed without authentication or sharing your identity)
                        </li>
                        <li>
                            To personalize your experience
                            (your information helps us to better respond to your needs and your interests like jobs, feeds, discussions, question etc.)
                        </li>
                        <li>
                            To improve the website
                            (we continually strive to improve the website offerings based on the information and feedback we receive from you)
                        </li>
                        <li>
                            To improve customer service
                            (your information helps us to more effectively respond to your customer service requests and support needs)
                        </li>
                        <li>
                            To send periodic emails related to our service
                            The email address you provide may be used to send you information, or notification based on your interests, notification for an action on content you shared, respond to inquiries, and/or other requests or questions.
                        </li>
                    </ul>
                </p>
                <h3>
                    How do we protect your information?
                </h3>
                <p>
                    Your information is under a security stack, and the whole channel ensures a possible way to protect your data from an unauthorized access, and we implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.
                </p>
                <h3>
                    Our cookie policy
                </h3>
                <h4>What are cookies?</h4>
                <p>
                    Cookies are small files which are stored on your computer. They are designed to hold a modest amount of data specific to a particular client and website and can be accessed either by the web server or the client computer. This allows us to deliver a page tailored to a particular user, or the page itself can contain some script which is aware of the data in the cookie and so is able to carry information from one visit to the website (or related site) to the next.
                </p>
                <h4>When we place cookies on your machine?</h4>
                <p>
                    Placing cookies are depends on your page visits on sklative.com like we place some cookies when you initially come to our website using a browser, and authentication cookies are placed when you enter your username and password and your identity matches with your pre-defined secure and private information as username and password.
                </p>
                <h4>
                    How to we use cookies?
                </h4>
                <p>
                    As mentioned cookies are stored on your machine only and are designed to personalize your experience, to remember your identity or interest. Some cookies are stored to remember your authentication or identity which cannot be opted out.
                </p>
                <h4>
                    Can you opt-out from using cookies?
                </h4>
                <p>
                    As of now, we are using cookies which are essentially required to use the website and we are not using any cookie which is optional, as a choice you can opt to not to use our website if concerned with cookies.
                    <div>
                        <i>For more information about our cookie policy, please refer <a href="/policy/cookie">cookie policy</a>.</i>
                    </div>
                </p>
                <h3>
                    Do we disclose any information to outside parties?
                </h3>
                <p>
                    No, We do not sell, trade, or otherwise, transfer to outside parties your personally identifiable information. This does not include trusted/associated third parties who assist us in operating our website or product or application, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety.
                </p>
                <h3>
                    Online Privacy Protection Act Compliance
                </h3>
                <p>
                    Because we value your privacy we have taken the necessary precautions to be in compliance with the Online Privacy Protection Act across different Territories. We, therefore, will not distribute your personal information to outside parties without your consent (please note that as we serve in multiple territories we do have implemented our privacy in such a way that it could be compliance with most of the online privacy protection acts). As part of the online privacy protection acts, all users of our site may make any changes to their information by logging into the authenticated portion of our site and going to the 'Setting' or equivalent page from their profile.
                </p>
                <h3>
                    Children Online Privacy Protection Act Compliance
                </h3>
                <p>
                    We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), and hence we strictly follow minimum age criteria for any user, the minimum age is defined as below.
                    <ul>
                        <li>Minimum age for any user("Member","User","Visitor") is 13 years old which is variable based on local regulations of any country, below are the variables.</li>
                        <li>
                            People from People's Republic of China must be 18 years old
                        </li>
                        <li>
                            People from Netherlands must be 16 years old
                        </li>
                        <li>
                            People from United States, Canada, Germany, Spain, Australia and South Korea must be 13 years old
                        </li>
                    </ul>
                </p>
                <p>
                    we do not collect any information from anyone under 13 years of age. Our website, products, and services are all directed to people who are at least 13 years old or older.
                </p>
                <h3>Your consent</h3>
                <p>
                    By using our site, you consent to this privacy policy.
                </p>
                <h3>                    
                    Changes to our Privacy Policy
                </h3>
                <p>
                    If we decide to change our privacy policy, we will post those changes on this page, and/or update the Privacy Policy modification date shown on this page or we might even send you an email to notify you about changes in our privacy policy.
                </p>
                <h3>
                    Contacting Us
                </h3>
                <p>
                    If there are any questions regarding this privacy policy you may contact us using the information below.
                    <p style="line-height:20px;">
                        <div>
                            <img src="~/Content/assets/images/mobile.png" />
                        </div>
                        <div>
                            <img src="~/Content/assets/images/email.png" />
                        </div>
                    </p>
                </p>
            </section>
        </div>
    </div>
</div>
