@{
    ViewBag.Title = "Sklative: Terms and conditions";
    ViewBag.Description = "sklative terms and conditions for using the services, terms for individual and organization account.";
    ViewBag.AddHomeLink = true;
    Layout = "~/Views/Shared/_LayoutWizard.cshtml";
}
<style>
    .text-page-content {
        margin-left: 20px;
        color: #333;
        font-size: 120%;
        line-height: 24px;
    }

        .text-page-content h3 {
            color: #1e68b9;
            font-size: 16px;
            border-bottom: 2px solid #1e68b9;
            display: inline-block;
        }

        .text-page-content h4 {
            color: #1e68b9;
            font-size: 14px;
        }

        .text-page-content p {
            line-height: 22px;
        }

        .text-page-content ul {
            list-style: disc;
        }

            .text-page-content ul li {
                line-height: 25px;
            }
</style>

<div class="container">
    <div class="page-container">
        <div class="page-container-wrapper">
            <h1>
                Terms of use
            </h1>
            <section class="text-page-content">
                <h3>
                    Introduction
                </h3>
                <p>
                    sklative ("We" or "Us") a website and service (collectively referred to as the "Service").
                    Your access to the Service is governed by and subject to the following terms and
                    conditions of this agreement (the "Agreement"). Sklative may update this Agreement
                    from time to time without notice to you; however, you can review the most current
                    version of the Agreement at any time at <a href="https://www.sklative.com/legal/terms">www.sklative.com/legal/terms</a>.
                    By proceeding to use the Service, you and the entity/entities or company/companies
                    you may choose to represent ("You") agree to be bound by and become a party to the
                    Agreement. If you do not agree with any terms and conditions of this Agreement,
                    do not join or otherwise use the Service. You further certify that you, as the individual
                    contracting to use the Service, are at least 18 years of age. This Agreement is
                    void where prohibited by law, and in such jurisdictions, You should refrain from
                    access to the Service.
                </p>
                <h3>
                    CONTENT
                </h3>
                <p>
                    <ul>
                        <li>
                            Content created by, published by and provided on www.sklative.com is owned by sklative and is not transferred
                            or conveyed by this Agreement.
                        </li>
                        <li>
                            In using the Service, you may upload or otherwise provide information content of your own. Some content provided by You may be provided for use in a private manner and other content may be provided by You for public posting. By providing any information to us and the Service, you represent and warrant that you are entitled to use and submit the information. Further, you warrant that the information is accurate and your use of our Service is not in violation of any contractual restrictions or rights of third parties.
                        </li>
                        <li>
                            Information (e.g. data) you create and use in a private manner is deemed to be owned
                            by you, even if stored on servers we use in providing the Service. Unless specifically
                            authorized in writing, You are not granting us the right to own or publish your
                            private data.
                        </li>
                        <li>
                            If you choose to make any information public during your use of the Service, you
                            further warrant you have the right to do so and accept all consequences associated
                            with such. The information you choose to make public will be deemed subject to a non-exclusive,
                            royalty-free, transferable grant to sklative to store, retain and use such information
                            in connection with providing and marketing the Service, during and thereafter the
                            life of your account.
                        </li>
                    </ul>
                </p>
                <h3>
                    INTELLECTUAL PROPERTY
                </h3>
                <p>
                    <ul class="lower-alpha">
                        <li>
                            sklative.com, our logos, and our service names are trademarks of Dainik eBusiness Sevices Corporation.
                            You may not use our trademarks in any manner without prior written permission from
                            an authorized agent of Dainik eBusiness Sevices.
                        </li>
                        <li>No intellectual properties rights are conveyed from Dainik eBusiness Sevices to You by this Agreement.</li>
                        <li>
                            Software used to provide the Service remains the property of Dainik eBusiness Sevices and/or other
                            parties with whom we contract.
                        </li>
                        <li>
                            Any subdomain, web page or URL made available to You in the course of using the
                            Service shall still remain the intellectual property of Dainik eBusiness Sevices and shall not be
                            considered assigned to you. For example, a subdomain of our domain name may be assigned
                            to your organization but such shall not be deemed a transfer of property.
                        </li>
                    </ul>
                </p>
                <h3>
                    USE
                </h3>
                <p>
                    <ul>
                        <li>You agree to use the Service in an intended manner.</li>
                        <li>You agree to use images consistent with your likeness or that of your business.</li>
                        <li>You agree to use accurate and lawful information in conjunction with the Service.</li>
                        <li>
                            You agree not to infringe upon the trademarks, patents, copyrights or other intellectual
                            property of others.
                        </li>
                        <li>
                            You may not use the Service through or with automated or proxy technologies. This
                            term is not intended to preclude the ordinary use of any API (automated programming
                            interface) made available specifically for allowed, intended use thereof.
                        </li>
                        <li>
                            You may not use the Service to market yourself or your business except as intended
                            during ordinary use.
                        </li>
                        <li>
                            Gathering of information made public by other users of the Service shall be deemed
                            a violation of this Agreement.
                        </li>
                        <li>
                            You are responsible for compliance with any and all applicable laws, including reporting
                            and paying taxes associated with your use of the Service.
                        </li>
                        <li>You agree that eDainik eBusiness Sevices owns all rights to, title to and interest in the Service.</li>
                        <li>
                            Spamming or sending the excessive communication to other parties through the service
                            shall be deemed a violation of this Agreement.
                        </li>
                        <li>
                            You agree not to use the Service for the transmission of unlawful, defamatory, libelous,
                            threatening, pornographic, obscene, virus-containing, racially insensitive, religiously
                            insensitive or otherwise objectionable content. Objectionable shall be at the sole
                            discretion of sklative.
                        </li>
                        <li>
                            We may terminate unpaid user accounts believed to be inactive and/or without use
                            for an excessive duration of time. At the time of termination, data contained within
                            the account may be deleted.
                        </li>
                        <li>
                            You agree not to reverse engineer, decompile or attempt to derive the source code
                            of any software used to provide the Service. You agree not to imply or suggest that
                            you are affiliated with or endorsed by sklative unless otherwise allowed by written
                            agreement.
                        </li>
                        <li>
                            Posted questions, comments, and other such information may become visible to those with
                            who searches for you or your content over here, and on any public pages such as Question answers or chat rooms. Those parties may choose
                            to share your some of the information either by email or SMS.
                        </li>
                    </ul>
                </p>
                <h3>
                    FEES
                </h3>
                <p>
                    <ul>
                        <li>
                            The Service is provided on a moment-to-moment basis except where You otherwise have
                            agreed to a fixed service duration. Individual subscription options within the scope
                            of the overall Service shall be treated in the same manner.
                        </li>
                        <li>
                            Unless otherwise noted, there is no charge for the basic use of the Service. Your
                            compensation to Us shall be considered as your general contribution to the Service
                            in accordance with this Agreement.
                        </li>
                    </ul>
                </p>
                <h3>
                    TERMINATION
                </h3>
                <p>
                    Either party may terminate the Service at any time. Cancellation by You must be made
                    on our website. To protect you from fraudulent cancellation requests, we will require
                    authentication (i.e. your identity verification) before accepting your cancellation
                    request and unauthenticated requests shall be deemed void. Subsequent to termination,
                    Dainik eBusiness Sevices may temporarily hold or permanently delete user data, at its sole discretion,
                    in accordance with its then-applicable data deletion policies. For example, if Dainik eBusiness Sevices
                    deems it possible that the user may restart use of the Service, it may elect to
                    preserve data for a limited period of time to make it convenient for You to resume
                    service; this example, however, should not be construed as a warranty of data retention
                    and You should copy all data stored by Us to your local machine before termination
                    of Service.
                </p>
                <h3>
                    DISCLAIMER OF WARRANTIES
                </h3>
                <p>
                    <ul>
                        <li>
                            Portions of this section may not apply in jurisdictions where the disclaimer of
                            implied terms in contracts with consumers is not permissible. This section is otherwise
                            fully binding upon the parties to this Agreement.
                        </li>
                        <li>The Service is provided on an "as is" and "as available" basis.</li>
                        <li>
                            We do not control user-provided content and makes no warranty as to the accuracy
                            thereof.
                        </li>
                        <li>We do not have any obligation to verify information provided through the Service.</li>
                        <li>
                            We may utilize the networks, servers and/or services of other companies in order
                            to provide the Service. Data may be stored or transported on such networks. We disclaim
                            all liability associated therewith.
                        </li>
                        <li>
                            Users should not maintain their sole copy of data on Dainik eBusiness Sevices servers. Dainik eBusiness Sevices
                            disclaims all liability for loss of data.
                        </li>
                        <li>
                            We disclaim all liability for identity theft, data theft, data corruption, data
                            tampering or misuse of data.
                        </li>
                        <li>
                            We do not guarantee that the Service will operate without interruption or without
                            errors. Complex hardware and/or software architectures are required for the delivery
                            of the Service and such increases the odds of accidental interruption or errors.
                            Errors may include errors in data calculations, display or management. Furthermore,
                            downtime due to system maintenance should be expected, although we commonly make
                            efforts to schedule such downtime during an evening or night hours.
                        </li>
                        <li>
                            A working internet and/or network connection is required for use of the Service.
                            Dainik eBusiness Sevices disclaims all liability for damages caused by internet or network interruption
                            or data disturbances.
                        </li>
                        <li>
                            We disclaim any and all implied warranties and representations, including without
                            limitation, any warranties of merchantability, fitness for a particular purpose,
                            title, accuracy of data, communication deliverability, and noninfringement. If you
                            are not satisfied with the Service, you may terminate your account in accordance
                            with this Agreement and such will be your sole and exclusive remedy.
                        </li>
                    </ul>
                </p>
                <h3>
                    LIMITATION OF LIABILITY
                </h3>
                <p>
                    <ul>
                        <li>
                            Portions of this section may not apply in jurisdictions where the limitation or
                            exclusion of liability in contracts with consumers is not permissible. This section
                            is otherwise fully binding upon the parties to this Agreement.
                        </li>
                        <li>
                            Dainik eBusiness Sevices and its subsidiaries, employees, shareholders, directors, and related companies
                            shall not be liable for any lost profit, lost revenue, lost data, [special, incidental,
                            indirect, punitive or consequential damages], or loss of use arising from your use
                            of the Service.
                        </li>
                        <li>
                            This limitation of liability is an integral part of this Agreement, where the parties
                            acknowledge that, without it, the prices charged for the Service would be higher.
                        </li>
                        <li>
                            This limitation of liability shall apply even if You base a claim on contract, tort,
                            statute, or basis, and regardless of whether we should have known about the possibility
                            of damages.
                        </li>
                    </ul>
                </p>
                <h3>
                    INDEMNIFICATION
                </h3>
                <p>
                    As it may pertain to your use of this Service or use of your user account by any
                    party, You agree to indemnify and hold harmless Us, our parent companies, subsidiary
                    companies, affiliates, officers and employees from any violation of this Agreement,
                    or any infringement of any intellectual property associated with your account. This
                    indemnification shall include attorneys’ fees and costs.
                </p>
                <h3>
                    ARBITRATION
                </h3>
                <p>
                    Any claim arising out of use of the Service shall be settled by binding arbitration
                    in accordance with the commercial arbitration rules of the Indian Arbitration
                    Association and arbitrated as an individual claim not consolidated with the claim(s)
                    of any other party. The arbitrator’s decision shall be final. Arbitration must be
                    conducted in the Ahmedabad(Gujrat), however, judgment on the arbitration award
                    may be entered into any court having jurisdiction. Notwithstanding anything to the
                    contrary, Dainik eBusiness Services may, at any time, seek injunctive relief or other forms of equitable
                    relief from any court of competent jurisdiction.
                </p>
                <h3>
                    GENERAL
                </h3>
                <p>
                    <ul>
                        <li>
                            This agreement shall be governed by the laws of the Gujrat within the
                            India.
                        </li>
                        <li>
                            If an arbitrator or court finds any provision of this Agreement to be invalid, illegal,
                            voice or unenforceable, that portion will be modified to render it enforceable with
                            the same original intent. The remaining terms and conditions shall remain valid
                            and enforceable.
                        </li>
                        <li>
                            This Agreement is the entire agreement between the parties, except that any websites
                            provided by Us in connection with the service may contain separate privacy policies.
                            In such instances of overlap, the privacy policies shall apply to the public, anonymous
                            use of such websites whereas the terms contained herein this Agreement shall apply
                            to the authenticated use of any such websites.
                        </li>
                        <li>
                            If you are reviewing a translated version of this Agreement, the translation is
                            for your convenience only, and the English-language version of this Agreement will
                            govern the relationship between the parties.
                        </li>
                        <li>
                            Our failure to act upon a breach of this Agreement shall not be construed as a waiver
                            of our right to act with respect to the breach.
                        </li>
                    </ul>
                </p>
                <h3>
                    LAW ENFORCEMENT REQUESTS
                </h3>
                <p>
                    We take user privacy very seriously and act to protect user identities in accordance
                    with this Agreement and applicable website privacy policies. However, we reserve
                    the right to cooperate with requests from law enforcement or government agencies
                    to disclose information about any user suspected of illegal activity. Cooperation
                    may include disclosure of information named by formal request of such an agency.
                    Furthermore, we reserve the right to disable, suspend or terminate the Service temporarily
                    or permanently as a result.
                </p>
                <h3>
                    TRANSFERABILITY
                </h3>
                <p>
                    We reserve the right to transfer, assign or delegate this Agreement and its rights
                    and obligations without further consent.
                </p>

            </section>
        </div>
    </div>
</div>