@{
    ViewBag.Title = "Sklative | Know About Sklative";
    ViewBag.Description = "Sklative is a social network founded to help individual professional to reach to their target business partners for their skills.";
    Layout = "~/Views/Shared/_LayoutWizard.cshtml";
    ViewBag.AddNoFollow = true;
}
<div class="container">
    <div class="page-container">
        <div class="page-container-wrapper">
            <h2 class="page-title">About sklative</h2>
            <p>Welcome to sklative - a growing skill portfolio based network, sklative helps people to connect with their colleagues, business partners, employers, and employees.</p>
            <p>The quality referrals are nowadays an important characteristic of a network, no matter if you are a business owner, a partner, an employee or an employer, the quality referral is the key expectation of having a professional network.</p>
            <p>sklative built to provide the most appropriate entity to the one who is searching and connect with the one who is right one, here is how a network work for various entities:</p>

            <h2 class="page-sub-title">For an employee</h2>
            <p>A skill portfolio means where people can attach complete data for a specific skill in the way they attach their personal information with their personal portfolio.  A skill portfolio contains measurable parameters like work history, education history, certification, accomplishment, recommendation, appreciation etc for a particular expertise and it forms a 360&deg; presentation of that skill.</p>
            <p>Being having a 360&deg; presented skill portfolio, it helps our algorithm to suggest you people having common skills with you, so that there would be a directed network of entities, you related with.</p>
            <p>And the same way to your potential employer and recruiter, the estimation of suitability is important at first glance and an individual portfolio cannot provide such a detailed data for a particular skill. Using the skill portfolio the right employer finds the right talent and right opportunities to a right skill.</p>
            <p>The "Ask an opportunity" feature allows professionals to use their network for getting hired, they can ask for an opportunity which your network can refer to their employer and give you a quick way to find the right position.</p>
            <h2 class="page-sub-title">For an employer</h2>
            <p>The way of searching for talent has drastically shifted, the traditional parameters for searching talent are changing, the jobs are now more specific, roles are now limited to expertise and to accomplish this change, sklative gives a powerful way to an employer to search, analyze and finalize the right candidate for their position.</p>
            <p>The expertise based role has opened new scope for talent, which is very specific to perform a particular task, this extension requires a new way to identify the right talent and the skill based portfolio does the job for an employer and helps them to deal with a position easily.</p>
            <p>Sklaitve is a social network and is built to give power to social your recruitment, an employer can share an opportunity with their network and people in your network can apply, refer or show their interest on the opportunity. The best thing about share opportunity features is that it is an insightful and trackable way to use your network for a social hiring purpose.</p>
            <h2 class="page-sub-title">For startups and individual businesses</h2>
            <p>The one and the first need of a business going to outsource their work to an individual or to a small company in order to fulfill their requirement is the capacity to of the person or individual who is actually going to work on the things, that means it is important thing to determine and measure the potential while outsourcing their work, so the question is how to achieve this? Like an individual 360° presentation of skill which shows the potential and capability for a particular expertise, a business profile also added in the way that they can present their services, products, applications, certifications, and associations. This provides the accurate data to vendors and helps them to find the right entity for their work.</p>
            <p>And following this way it helps startups and individual businesses to get the work for the expertise they hold.</p>
            <h2 class="page-sub-title">For businesses</h2>
            <p>As a professional network sklative provides a list of tools to fulfill business needs, like recruitment, finding vendors, connecting with customers, and to find partners. All it needs is quality referrals which could be formed into an outcome, sklative helps businesses to recruit the right talent, to find vendors for their business, to connect with partners and to find new business partners.</p>
            <p>The more a business connects with the world, the more they can manage the things in a cost effective way, businesses are nowadays distributed, not everything they can build under one roof, they need to expand their alliance, they need to extend their network to businesses and individual which could help them in their business process, and which we call a collaborative output, businesses invest their expectation into right entities so that a process could be achieved and so a right referral is important.</p>
            <p>Being a social network sklative also helps businesses to present their products and services in front of their targeted potential customers so that a maximum could be achieved from their network.</p>
            <h2 class="page-sub-title">For marketers</h2>
            <p>Putting right things in front of right entities is equally important running a marketing campaign. Digital marketers are nowadays becoming Lord for businesses and in the chain, sklative provides them multiple tools to run, track and analyze their marketing campaigns.</p>
            <p>Being a social network, businesses can connect and promote their brands and services with their network and also can target the out of network audiences using a paid advertising feature of sklative.</p>
            <h2 class="page-sub-title">Putting it all together</h2>
            <p>The skills or expertise is the heart of any business and profession, from an employee who is looking for an opportunity to a business who looking for a client and work, everything inherits from the expertise, it requires a network to connect with right entity, it requires a right way to present their expertise to get the correct exchange of services and business.</p>
            <p>Sklative all together is a powerful professional network where the world is inherited from skill and expertise.</p>
        </div>
    </div>
</div>
