@model Wrly.Models.ProfileCompletetionSuggestionViewModel
<div class="pop-up-header">
    <h1 class="model-title">Improve profile</h1>
</div>
<div class="pop-up-main" id="tabContents">
    @Html.Partial("_ImproveContent", Model)
</div>
