@model Wrly.Models.IntelligenceAwardViewModel

<div class="profile-intelligence">
    <span>@Model.DisplayText</span>
    @using (Html.BeginForm("Manage", "Award", FormMethod.Post, new { @id = "frmIntelligenceAwardTeam" }))
    {
        @Html.HiddenFor(c => c.Hash)
        <div class="int-step">
            <div class="form-group">
                <div class="col-md-10" id="Participents">
                    @Html.TextBox("txtIntelligenceConnectionName", null, new { @placeholder = "type your team member name", @class = "form-control", @id = "txtIntelligenceConnectionName" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button class="btn btn-primary" onclick="fetchStep($('#intelligenceCareerHistoryStep2'))" type="submit">Add selected</button>
                    <button class="btn btn-outlined" type="button" hash="@Html.HashForIntelligence(Types.Enums.InteligenceType.RequireAddingCareerLineCompany)" onclick="skillIntelligence($(this))">Skip for now</button>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                var data = [];
                $("#txtIntelligenceConnectionName").autocomplete({
                    minLength: 1,
                    source: function (request, response) {
                        isAutomComplete = true;
                        $.ajax({
                            url: "/Association/ConnectionHeads",
                            data: { keyword: $("#txtIntelligenceConnectionName").val() },
                            dataType: "json",
                            type: "POST",
                            success: function (data) {
                                isAutomComplete = false;
                                if (data.length == 0) {
                                    $("#ParticipentText").removeClass('working');
                                }
                                response($.map
                                (data, function (obj) {
                                    return {
                                        label: (obj.FirstName + ' ' + obj.LastName).toString().trim(),
                                        value: obj.EntityID.toString().trim(),
                                        jobTitle: obj.JobTitle,
                                        profilePath: obj.ProfilePath == null ? '/content/images/no-image-sm.png' : obj.ProfilePath,
                                        organizationName: obj.OrganizationName
                                    };
                                }));
                            },
                            error: function () { isAutomComplete = false; }
                        });
                    },
                    create: function () {
                        $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                            return $('<li>').append('<div class="search-result-item"><div class="thumbnail-notification-con"><img class="thumbnail-notification" src="' + item.profilePath + '" alt="no image ' + item.label + ' "></div><div class="side-thumbnail"><h3>' + item.label + '</h3><span class="child-headings">' + item.jobTitle + ' At ' + item.organizationName + '</span></div>     </div>').appendTo(ul);
                        }
                    },
                    open: function () {
                        $(this).autocomplete("widget").appendTo("#Participents");
                    },
                    select: function (event, ui) {
                        var element = '<div class="people-selected"><span class="remove">X</span><input type="hidden" name="Participants" value="' + ui.item.value.toString() + '" /> <div class="thumbnail-notification-con"><img class="thumbnail-notification" src="' + ui.item.profilePath + '" alt="no image ' + ui.item.label + ' "></div><div class="side-thumbnail"><h3>' + ui.item.label + '</h3><span class="child-headings">' + ui.item.jobTitle + ' At ' + ui.item.organizationName + '</span></div>     </div>';
                        $('#Participents').parent().find('.selected').append(element.toString());
                        $('#Participents').append(element.toString());
                    }
                });
            });

            function fetchStep($obj) {
                $('.int-step').hide();
                $obj.show();
            }
        </script>
    }
</div>