<div class="password-cotainer">
    @if (ViewBag.HasLocalPassword)
{
    <h2 class="page-title">Change password</h2>
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        <h2 class="page-title">Create password</h2>
        @Html.Partial("_SetPasswordPartial")
    }
    <script>
        $(document).ready(function () {
            $("form").data("validator", null);
            $.validator.unobtrusive.parse($("form"));
            $('form').submit(function () {
                $obj = $(this);
                var ser = $obj.serialize();
                var action = $obj.attr('action');
                if ($obj.valid()) {
                    $.ajax({
                        url: action,
                        type: 'POST',
                        waitingSelector: $obj.find('.waiting-bg'),
                        data: ser,
                        dataType: 'html',
                        success: function (response) {
                            if ($(response).filter('.alert-error').length==0) {
                                $('.password-cotainer').remove();
                                $('#managePassword').prepend(response);
                            } else {
                                $('#managePassword').prepend(response);
                            }
                        }
                    });
                }
                return false;
            })
        });
    </script>
</div>