<ul>
    <li class="mobile-menu-face">
        <div data-sigil="touchable" class="_52x6 touchable">
            <a href="/profile?rfr=bm" class="_5lut _5luu">
                <div class="mobile-menu-user-photo"><img src="@Html.UserNamePhoto()" alt=""></div><div class="mobile-menu-user-name flex-1-1">@Html.UserName()</div>
            </a>
        </div>
    </li>
    <li><a href="/configurations">Configurations</a> </li>
    <li><a href="/profile/connections">Connections</a> </li>
    <li><a href="/profile/followers">Followers</a> </li>
    <li><a href="/requests">Request</a> </li>
    <li><a href="/conversations?sr=lst">Conversations</a> </li>
    <li><a href="/network/activities?ref=mbs">Network updates</a> </li>
    <li class="divider"></li>
    <li><a href="/groups?ref=mbs">Groups</a> </li>
    <li class="divider"></li>
    <li><a href="/account/logoff">Sign out</a> </li>
</ul>