<div class="career-history-list section-floated profile-score">
    <div class=" section-floated-container">
        <div class="hint"><h1>Profile completion score <a class="html-help help right action" title="The auto intelligence makes sure your profile seems complete and all the information is at least matches the minimum data requirement, it automatically finds and suggests you the improvements./fixes to take action.">?</a></h1></div>
        <div class="profile-score-cont">
            <div id="custom" class="small">
            </div>
        </div>
        <div class="margin-up-down-10 text-center status">
            <button class="form-control btn btn-sm btn-primary" id="improve-profile">Add required information</button>
            <div class="label-cont">
                <label class="success block">Completed</label>
            </div>
        </div>
    </div>
</div>
