<li><a href="/profile"><div class="fit-profile-name">@Html.UserName()</div></a> </li>
<li><a href="/configurations">Configurations</a> </li>
<li><a href="/profile/connections">Connections</a> </li>
<li><a href="/profile/followers">Followers</a> </li>
<li class="divider"></li>
<li><a href="/account/logoff">Sign out</a> </li>