@{
    ViewBag.Title = "Invalid link";
}
<div class="string join-container">
    <div class="string-wrapper">
        <div class="content-container">
            <div class="reg-content-wrapper">
                <div class="wizard-form-container form-container">
                    <div class="wizard-form-wrapper">
                        <section>
                            <p>Cannot find the user information by given link, either link might be expired or tempered, please use forgot password link to generate the link again.</p>
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section _HeadStyles{
    @Styles.Render("~/cdn/_AccountSharedStyles")
}
