@model Wrly.Models.LoginViewModel
@{
    ViewBag.RenderHeaderLogin = false;
    ViewBag.Title = "Sklative: Log In or Register";
    ViewBag.Description = "Log In to India's largest skilled professional network or Sign Up for a new account, manage your professional identity and connect with new professionals.";
}

<div class="string join-container">
    <div class="string-wrapper">
        <div class="content-container">
            <div class="reg-content-wrapper">
                <div class="wizard-form-container form-container">
                    <div class="wizard-form-wrapper">
                        <h1>Login</h1>
                        @{Html.RenderPartial("_Login", Model);}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section _HeadStyles{
    @Styles.Render("~/cdn/_AccountSharedStyles")
}