	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/02/2017 16:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-applause:before { content: "\f100"; }
.flaticon-badge:before { content: "\f101"; }
.flaticon-bell:before { content: "\f102"; }
.flaticon-bell-ring:before { content: "\f103"; }
.flaticon-business-affiliate-network:before { content: "\f104"; }
.flaticon-business-cards:before { content: "\f105"; }
.flaticon-businessmen:before { content: "\f106"; }
.flaticon-businessmen-1:before { content: "\f107"; }
.flaticon-businessmen-meeting:before { content: "\f108"; }
.flaticon-clinic-history:before { content: "\f109"; }
.flaticon-close-envelope:before { content: "\f10a"; }
.flaticon-columns-building:before { content: "\f10b"; }
.flaticon-customer:before { content: "\f10c"; }
.flaticon-customer-1:before { content: "\f10d"; }
.flaticon-diploma:before { content: "\f10e"; }
.flaticon-diploma-paper-roll:before { content: "\f10f"; }
.flaticon-employee:before { content: "\f110"; }
.flaticon-eye-on-magnifying-glass:before { content: "\f111"; }
.flaticon-favorites:before { content: "\f112"; }
.flaticon-find-location:before { content: "\f113"; }
.flaticon-graduate-cap:before { content: "\f114"; }
.flaticon-historical-building-outline-with-columns:before { content: "\f115"; }
.flaticon-holding-hands-in-a-circle:before { content: "\f116"; }
.flaticon-idea:before { content: "\f117"; }
.flaticon-mail:before { content: "\f118"; }
.flaticon-management:before { content: "\f119"; }
.flaticon-manager:before { content: "\f11a"; }
.flaticon-marketing:before { content: "\f11b"; }
.flaticon-medal:before { content: "\f11c"; }
.flaticon-more:before { content: "\f11d"; }
.flaticon-open-book:before { content: "\f11e"; }
.flaticon-open-book-1:before { content: "\f11f"; }
.flaticon-person-learning-by-reading:before { content: "\f120"; }
.flaticon-rocket:before { content: "\f121"; }
.flaticon-search-in-folder:before { content: "\f122"; }
.flaticon-skills:before { content: "\f123"; }
.flaticon-skills-1:before { content: "\f124"; }
.flaticon-thumb-up-with-star:before { content: "\f125"; }
.flaticon-treble-clef:before { content: "\f126"; }
.flaticon-trophy:before { content: "\f127"; }
.flaticon-volunteer:before { content: "\f128"; }