<p>The skill has been removed from your profile, please note this will remove your skill from all your appearances.</p>
<p>
    <div class="buttons">
        <button class="link-alike" data-type="skill" data-action="revert" onclick="____skillHistoryAction($(this))" class="link-alike" data-hash="@ViewBag.Hash">Undo</button><div class="waiting-bg"></div>
    </div>
</p>

