@model List<Wrly.Models.CareerHistoryOption>

@foreach (var item in Model)
{
    if (item.DisplayText == "Divider")
    {
        <li class="divider"></li>
    }
    else
    {
        <li><span data-action="@item.Action" data-type="@item.Type" onclick="____careerHistoryAction($(this))" class="action" data-hash="@item.Hash"> @item.DisplayText</span></li>
    }
}

