<div class="footer-container">
    <div class="left">
        &copy; @DateTime.UtcNow.Year - @(DateTime.UtcNow.Year + 1)
        <a href="https://www.sklative.com" target="_blank" style="color: #fff;">sklative.com</a>.&nbsp;&nbsp;All rights reserved.
    </div>
    <div class="right">
        <a href="/policy/privacy">Privacy policy</a>
        | <a href="/legal/terms">Terms of Use</a>
        | <a href="/report/abuse">Report abuse</a>
        | <a href="/interaction/feedback">Feedback</a>
        | <a href="/groups">Professional groups</a>
        | <a href="/about-sklative">About sklative</a>
        | <a href="/help-and-knowledge/">Help &amp; support</a>
    </div>
</div>
